body{
	margin: 0;
}
body>header{
	background-color: steelblue;
	text-align: center;
	margin: 0;
}
body>header>h1{
	margin: 0;
}
body>nav{
	text-align: center;
	background: #FF0000;
}
body>nav>ul{
	list-style: none;
	margin: 0;
}
body>nav>ul>li{
	display: inline-block;
	padding: 10px;
}
body>nav>ul>li>a{
	text-decoration: none;
	font-size: 18px;
}
body>nav>ul>li>a:hover{
	color: red;
}
body>.content{
	overflow: auto;
	margin: auto;
	width: 700px;
}
body>.content>section{
	float: left;
	background-color: aqua;
	width: 500px;
	height: 500px;
	text-align: center;
}
body>.content>aside{
	float: right;
	background-color: aquamarine;
	width: 200px;
	height: 500px;
	text-align: center;
}
body>footer{
	text-align: center;
	background-color: antiquewhite;
}
@media (max-width:700px) {
	body>.content>aside{
		display: none;
	}
	
}
@media (max-width:500px) {
	body {
		width: 500px;
	}
	
}
